body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
        background-color: #ecf0f1;
}


h1 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header {
    background-color: #232323;
    width: 20%;
    height: 100%;
    position: absolute;
}

.header .container .highlight {
    color: rgb(255, 255, 255)
}

.usuario {
    width: 75%;
    overflow: hidden;
    margin: auto;
    text-align: center;
    color: white;
}

.usuario h3 {
    font-weight: 100;
}

.header h1 {
    margin: 0;
    padding: 0;
    float: left;
    margin: 35px;
    color: white;
    font-size: 25px;
    padding-bottom: 50px;
}

.header ul {
    list-style-type: none;
    float: left;
    margin-top: 40px;
}

.header li {
    margin: 0 0 30px 0;
}

.header a {
    text-transform: uppercase;
    color: white;
}

.header a:hover {
    font-weight: bold;
}

.header .current {
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.dashboard {
    background-color: #ecf0f1;
    text-align: center;
    padding: 50px 0;
    width: 80%;
    height: 100%;
    margin-left: auto;
    float: left;
}

.dashboard h1 {
    margin-bottom: 40px;
}

.dashboard .input-padrao {
    width: 50%;
    display: inline-block;
}
.imguser{
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    margin: 12% 0 0 15%;
    background-color: #ecf0f1;
}
.graficos{
    position: absolute;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: #232323;
}
.gauge{
    margin: 0 auto;
    width: 70%;
}
